* {
  margin: 0;
  outline: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-direction: column;
}

/*  HEADER  */

header {
  height: 15vh; /* view height */
  background-color: #000;

  position: fixed;
  width: 100%;

  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: center;

  opacity: 0.8;
  
}

.header-container {
  width: 80%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header-container img {
  height: 100%;
  cursor: pointer;
  
}

.header-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 40%;

  list-style: none;
}

.header-container ul li a {
  font: 700 20px Archivo;
  color: white;
  text-decoration: none;

  transition: opacity 0.3s;
}

.header-container ul li a:hover {
  opacity: 0.7;
}

/* FOOTER */

footer {
  background-color: #000;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 80%;

  display: flex;
  flex-direction: column;
}

.footer-container .footer-info img {
  width: 200px;
}

.footer-info {
  padding: 40px 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-links h2 {
  color: #919496;
  font: 500 16px Archivo;
  margin-bottom: 8px;
}

.footer-links ul li a {
  text-decoration: none;
  color: white;
  font: 400 16px Roboto;
  margin: 2px 0;
}

.footer-links ul li a:hover {
  color: #039651;
}

.svg {
  color: white;
}

.svg:hover {
  color: #039651;
}

.footer-svgs {
  display: flex;
}

.div-svg {
  width: 50px;
  height: 50px;
  background-color: #222326;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  margin: 0 4px;
}

.footer-contato {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 16px;
}

.footer-contato .footer-contato-small {
  display: flex;
  justify-content: center;

  width: auto;
}

.footer-contato .footer-box-contato {
  margin: 0 20px;
}

.footer-contato .footer-box-contato i {
  color: white;
  margin-right: 4px;
  cursor: pointer;
}

.footer-contato .footer-box-contato span {
  color: white;
  font: 500 16px Roboto;
  cursor: pointer;
}

.footer-contato .footer-box-contato i:hover {
  color: #039651;
}

.footer-contato .footer-box-contato span:hover {
  color: #039651;
}
